<!DOCTYPE html>
<html lang="en">
    <head>
	    <meta charset="UTF-8">
		<!-- insert all common css and js here -->
		<title>INSERT TITLE</title>
	</head>
	<body>
        <!-- insert navs and such here -->

        <!-- begin body container -->

		{{{ body }}}

        <!-- end body container -->
        
	</body>
</html>
