<div class="row">
                    <div class="col-sm-12">
                        <div class="well1">
                            <p class="maptitle" ><strong>Click on the Map and Dive in! </strong></p>
                            <div id="map2" width="800" height="500">
                            </div>

                        </div>
                    </div>
                </div>


