<!-- us map dependencies-->
<script src="js/us-map-files/lib/raphael.js"></script>
<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.6.2/jquery.js"></script>
<script src="js/us-map-files/color.jquery.js"></script>
<script src="js/us-map-files/jquery.usmap.js"></script>
<!-- JS Files -->
<script src="js/us-map.js"></script>

<div id="map2" width="800" height="500">
</div>
<div id="text" height="200"></div>
