 
body {
          background: #1E90ff;
          background-image: url("http://gph.to/2mWz1FQ ");
          font-family: "Helvetica Neue, Helvetica, Arial, sans-serif";

          background-repeat: no-repeat;
          background-size: cover;
        }

.well1 {
    /*background-color: transparent;*/
    box-shadow: 0px 16px 32px 0px rgba(0,0,0,0.2);
    font-family: "Helvetica Neue, Helvetica, Arial, sans-serif";
}   

.well1 h3, h4 {
    color: #20b2aa;

}
/* Set height of the grid so .sidenav can be 100% (adjust as needed) */
.row.content {
    height: 750px;
}
    
/* Set gray background color and 100% height */
.sidenav {
    background-color: #f1f1f1;
      height: 100%;
    box-shadow: 0px 16px 32px 0px rgba(0,0,0,0.2);
 }
        
/* On small screens, set height to 'auto' for the grid */
@media screen and (max-width: 767px) {
.row.content {height: auto;} 
    }

.carousel-inner img {
    width: 100%; /* Set width to 100% */
    margin: auto;
    height: 400px !important;
  }

/* Hide the carousel text when the screen is less than 600 pixels wide */
@media (max-width: 600px) {
.carousel-caption {
    display: none; 
    }
  }


.well  {
  background-color: #20b2aa;
  box-shadow: 0px 16px 32px 0px rgba(0,0,0,0.2);
}

.well h3 {
    color: black;

}

ul, li {
      box-shadow: 0px 16px 32px 0px rgba(0,0,0,0.2);
      font-size: 20px;
}
